:root{
    --main-color:#c0392b;
    --body-bg:#181616;
    --box-bg:#221f1f;
    --text-color:#ffffff;
    --nav-height:60px;
    --space-tot:30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}
a{
    text-decoration: none;
}
img{
max-width: 100%;
}
.main-color ,.fa-solid{
    color: var(--main-color);
}
.container{
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}
 .overly{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

}
.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;


}
.nav{
    display: flex;
    align-items: center;
     justify-content: space-between;
    color: var(--text-color);
   height: 120px;
}
.nav a{
    color: var(--text-color);
}
.logo{
    font-size: 20px;
    font-weight:900;

}
.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px ;
}
.nav-menu li~li{
    margin-left: 30px;
}
.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover{
    color: var(--main-color);
}
a.logo:hover{
    color: unset;
}
.nav-menu a.btn:hover {
    color: unset;
}
.destination-title{
    margin-bottom: 51px;
    color: var(--main-color);
}
.main-title {
    text-align: center;
    font-size: 45px;
    color: var(--main-color);
}
.btn{
    color: #ffffff;
    padding: 13px 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.btn-hover::before{
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition:.3s ease-in-out 
}
.btn-hover:hover::before{
    width: 100%;
}
.btn.a i .fa-solid,
.btn span{
    z-index: 1
} 

.btn i{
    margin-right: 10px;
}


#Destination {
    padding-top: 9rem;
}

.destination-title p {
    margin: 0 auto;
    margin-bottom: 8rem;
}

.swiper {
    width: 100%;
    /* height: 300px; */

}

.dest-swiper .swiper-button-prev,
.dest-swiper .swiper-button-next {
    top: 2.5rem;
    box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.10);
    width: 68.412px;
    height: 65.565px;
    flex-shrink: 0;
    border-radius: 1rem;

}

.dest-swiper .swiper-button-prev::after,
.dest-swiper .swiper-button-next::after {
    font-size: 20px;
    color: var(--secondry-color);

}

.dest-swiper .dest-slide {
    margin: 0 1rem;
    border-radius: 1rem;

}

.dest-swiper .dest-slide img {
    width: 100%;
    height: 361px;
    object-fit: cover;
    border-radius: 1rem;
}

.dest-swiper .dest-slide:hover img {
    border-radius: 1rem 1rem 0 0;
    height: 320px;
    transition: all 0.6s;
}


.dest-swiper .dest-slide .dest-sld-data h4 {
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0.6rem;

}

.dest-swiper .dest-slide .dest-sld-data {
    position: relative;
    padding: 2.8rem 1.5rem;
    /* opacity: 0; */
    border-radius: 1rem;

}



.dest-swiper .dest-slide:hover .dest-sld-data {
    /* opacity: 1; */
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.10);


}

.dest-swiper .dest-slide .dest-sld-data p {
    color: #555;
    font-size: 14px;
    font-weight: 500;
}

.dest-slide .dest-sld-data .circle {
    width: 78.327px;
    height: 78.327px;
    flex-shrink: 0;
    border-radius: 50%;
    position: absolute;
    top: -3rem;
    right: 3rem;
    background-color: var(--primary-color);
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.14);
}

.dest-slide .dest-sld-data .circle span {
    color: #000;
    font-size: 72px;
    font-weight: 400;
    padding: 2.4rem;

}

footer .logo {
    margin-top: -2.5rem;
    color: white;
}

footer .section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}
.footer content .logo span{
    color: var(--main-color);
}
footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    display: inline-block;
}

.footer-menu a:hover {
    transform: translateX(5px);
}
footer p{
    padding: 0 40px 0 0;
    max-width: 544px;
}
footer ul li a{
    color: white;
    line-height: 27px;
    
}
footer ul{
    list-style-type: none;
}
.footer-menu{
    margin-top: 10px;
}
.fotter-dessign{
    display: flex;
    justify-content: space-between;
}
.copyright{
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
    
}
.copyright a{
    color: white;
}