:root{
    --main-color:#c0392b;
    --body-bg:#181616;
    --box-bg:#221f1f;
    --text-color:#ffffff;
    --nav-height:60px;
    --space-tot:30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    padding-top: var(--nav-height);
}
h2{
    margin-bottom: 20px;
}
a{
    text-decoration: none;
}
img{
max-width: 100%;
}
.main-color ,.fa-solid{
    color: var(--main-color);
}
.container{
    max-width: 1920px;
    padding: 0 40px;
    margin: auto;
}
 .overly{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);

}
.nav-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #000000;


}
.nav{
    display: flex;
    align-items: center;
     justify-content: space-between;
    color: var(--text-color);
   height: 120px;
}
.nav a{
    color: var(--text-color);
}
.logo{
    font-size: 20px;
    font-weight:900;

}
.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px ;
}
.nav-menu li~li{
    margin-left: 30px;
}
.nav-menu a{
    text-transform: uppercase;
    font-weight: 700;
}

.nav-menu a:hover{
    color: var(--main-color);
}
a.logo:hover{
    color: unset;
}
.nav-menu a.btn:hover {
    color: unset;
}


.btn{
    color: #ffffff;
    padding: 13px 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
}
.btn-hover::before{
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var(--main-color);
    transition:.3s ease-in-out 
}
.btn-hover:hover::before{
    width: 100%;
}
.btn.a i .fa-solid,
.btn span{
    z-index: 1
} 

.btn i{
    margin-right: 10px;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  form{
    margin-top: 49px;
  }
  .login-page {
    position: relative;
    height: 421px;
    z-index: 1;
    /* background: #003871; */
    max-width: 360px;
    margin: 123px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .login-page input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .login-page button {
    text-transform: uppercase;
    outline: 0;
    background: #7abcff;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .login-page button:hover,.login-page button:active,.login-page button:focus {
    background: #047af0;
  }
  .login-page .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .login-page .message a {
    color: white;
    text-decoration: none;
  }


  footer .logo {
    margin-top: -2.5rem;
    color: white;
}

footer .section {
    margin-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: var(--box-bg);
}

footer a:hover {
    color: var(--main-color);
}
.footer content .logo span{
    color: var(--main-color);
}
footer a.logo:hover {
    color: unset;
}

.social-list {
    display: flex;
    align-items: center;
    margin: 20px;
}

.social-item {
    --size: 30px;
    height: var(--size);
    width: var(--size);
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: var(--text-color);
    color: var(--main-color);
}

.social-item:hover {
    background-color: var(--main-color);
    color: var(--text-color);
}

.social-item ~ .social-item {
    margin-left: 20px;
}

footer .content {
    margin-top: 20px;
}

.footer-menu {
    display: inline-block;
}

.footer-menu a:hover {
    transform: translateX(5px);
}
footer p{
    padding: 0 40px 0 0;
    max-width: 544px;
}
footer ul li a{
    color: white;
    line-height: 27px;
    
}
footer ul{
    list-style-type: none;
}
.footer-menu{
    margin-top: 10px;
}
.fotter-dessign{
    display: flex;
    justify-content: space-between;
}
.copyright{
    padding: 10px;
    border-top: 1px solid var(--body-bg);
    background-color: var(--box-bg);
    text-align: center;
    
}
.copyright a{
    color: white;
}
hr{
    margin-top: 40px;
    margin-bottom: 20px;
}